body {
    background: url(image/top-banner.png);
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

.header-section {
    display: flex;
}

.header-area {
    width: 45%;

    margin: 20px auto;
    padding-left: 85px;
}

.header-area h1 span {
    color: #ffb900;
    font-size: 40px;
}


.header-area h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px;
}

.header-area h5 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
}

.header-area h5 span {
    font-size: 30px;
    color: brown;

}

.header-area a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: brown;
    border-radius: 5px;
    margin-top: 18px;
}

.header-area p {
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
    line-height: 30px;
}

.header-area img {
    width: 80%;
}